<!DOCTYPE html>
<head>
	<title>periodicointeractivo</title>
	<meta content="jmgn" name="author" />
	<meta charset="UTF-8" />
	<link href="../static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

	<header>
		<div id="titulo"><img id="img_principal" src="../static/makoLogo.png" /></div>

		<form action='login' method='post'>
			${formulario}
			${mensaje}
		</form>

	</header>


	<div id="pagina">

		<div id="menu">
		  <ul>
		    <li><a href="registro" title="Registrarse">Registro</a></li>
		    <li><a href="rss" title="rss">RSS</a></li>
		    <li><a href="highchart" title="highchart">Highchart</a></li>
		   	<li><a href="mapa" title="mapa">Google Maps</a></li>
		  	<li><a href="twitter" title="Twitter">Twitter</a></li>
		  </ul>
		</div>

		<div id="contenido">

			<h2><center> Bienvenidos a esta pagina  </center></h2>
			<p></p>

		</div>

		<div id="footer">
			<p>Autor: <b>jmgn</b></p>
		</div>

		
	</div>


</body>



</html>
